In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 36 kB/s
Collecting py4j==0.10.9.2
  Downloading py4j-0.10.9.2-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 53.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.0-py2.py3-none-any.whl size=281805912 sha256=d91d8103d7dfa412abce33cc92dd904059b69cdad798ea8e7f6ebc1f10c1fd24
  Stored in directory: /root/.cache/pip/wheels/0b/de/d2/9be5d59d7331c6c2a7c1b6d1a4f463ce107332b1ecd4e80718
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.2 pyspark-3.2.0

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

In [3]:
spark = (
    SparkSession.builder
      .master('local')
      .appName('dataframe_withcolumn')
      .config('spark.ui.port', '4050')
      .getOrCreate()
)

In [4]:
spark

In [ ]:
df = spark.read.format("csv") \
  .option("inferSchema", True) \
  .option("header", True) \
  .option("sep", ",") \
  .load("/content/drive/MyDrive/countries_general_info_historical.24-10-2021.csv") 
df.show()

In [40]:
#Renomear alguma coluna
df1 = df.withColumnRenamed("Iso3166P1Alpha2Code", "siglaPais2") \
        .withColumnRenamed("Iso3166P1Alpha3Code", "siglaPais3") \
        .withColumnRenamed("Iso3166P1NumericCode", "NumericCode")
df1.show()

+--------------------+--------------------+-----------+----------+----------+-----------+-------------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|                Name|          NativeName|CallingCode|siglaPais2|siglaPais3|NumericCode|               Isni|Population, 2010|Population, 2011|Population, 2012|Population, 2013|Population, 2014|Population, 2015|Population, 2016|Population, 2017|Population, 2018|Population, 2019|
+--------------------+--------------------+-----------+----------+----------+-----------+-------------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
|              Canada|              Canada|          1|        CA|       CAN|        124|0000 0001 2238 5050|        34004889|        34339328|        34714222|        35082954|        35437435|        35702908|        36109487|        36545295|        37065178|        37593384|
|               Japan|                日本|         81|        JP|       JPN|        392|0000 0001 2364 9740|       128070000|       127833000|       127629000|       127445000|       127276000|       127141000|       126994511|       126785797|       126529100|       126264931|
|              Norway|    Kongeriket Norge|         47|        NO|       NOR|        578|0000 0001 2298 9524|         4889252|         4953088|         5018573|         5079623|         5137232|         5188607|         5234519|         5276968|         5311916|         5347896|
|             Ireland|                Eire|        353|        IE|       IRL|        372|0000 0001 2359 1198|         4560155|         4580084|         4599533|         4623816|         4657740|         4701957|         4755335|         4807388|         4867316|         4934040|
|             Hungary|        Magyarorszag|         36|        HU|       HUN|        348|0000 0001 2254 0380|        10000023|         9971727|         9920362|         9893082|         9866468|         9843028|         9814023|         9787966|         9775564|         9771141|
|               Spain|              Espana|         34|        ES|       ESP|        724|0000 0001 2324 3505|        46576897|        46742697|        46773055|        46620045|        46480882|        46444832|        46484062|        46593236|        46797754|        47133521|
|United States of ...|United States of ...|          1|        US|       USA|        840|0000 0001 2331 5230|       309321666|       311556874|       313830990|       315993715|       318301008|       320635163|       322941311|       324985539|       326687501|       328239523|
|             Belgium|   Koninkrijk Belgie|         32|        BE|       BEL|         56|               null|        10895586|        11038264|        11106932|        11159407|        11209057|        11274196|        11331422|        11375158|        11427054|        11502704|
|          Luxembourg|          Letzebuerg|        352|        LU|       LUX|        442|0000 0001 2192 9204|          506953|          518347|          530946|          543360|          556319|          569604|          582014|          596336|          607950|          620001|
|             Finland|               Suomi|        358|        FI|       FIN|        246|               null|         5363352|         5388272|         5413971|         5438972|         5461512|         5479531|         5495303|         5508214|         5515525|         5521606|
|              Sweden|             Sverige|         46|        SE|       SWE|        752|0000 0001 2299 7436|         9378126|         9449213|         9519374|         9600379|         9696110|         9799186|         9923085|        10057698|        10175214|        10278887|
|              Poland|Rzeczpospolita Po...|         48|        PL|       POL|        616|0000 0004 0471 0018|        38042794|        38063255|        38063164|        38040196|        38011735|        37986412|        37970087|        37974826|        37974750|        37965475|
|           Lithuania|             Lietuva|        370|        LT|       LTU|        440|0000 0001 2364 1220|         3097282|         3028115|         2987773|         2957689|         2932367|         2904910|         2868231|         2828403|         2801543|         2794137|
|               Italy| Repubblica Italiana|         39|        IT|       ITA|        380|0000 0001 2186 9395|        59277417|        59379449|        59539717|        60233948|        60789140|        60730582|        60627498|        60536709|        60421760|        60302093|
|         Switzerland|Schweizerische Ei...|         41|        CH|       CHE|        756|0000 0001 2297 4701|         7824909|         7912398|         7996861|         8089346|         8188649|         8282396|         8373338|         8451840|         8514329|         8575280|
|             Austria| Republik Osterreich|         43|        AT|       AUT|         40|0000 0001 2265 1953|         8363404|         8391643|         8429991|         8479823|         8546356|         8642699|         8736668|         8797566|         8840521|         8879920|
|              Greece|              Ελλάδα|         30|        GR|       GRC|        300|0000 0004 0555 2357|        11121341|        11104899|        11045011|        10965211|        10892413|        10820883|        10775971|        10754679|        10732882|        10717169|
|              Turkey| Turkiye Cumhuriyeti|         90|        TR|       TUR|        792|0000 0004 0369 9232|        72326988|        73443863|        74653016|        75928564|        77231907|        78529409|        79821724|        81101892|        82319724|        83429615|
|            Portugal|Republica Portuguesa|        351|        PT|       PRT|        620|0000 0001 2242 8399|        10573100|        10557560|        10514844|        10457295|        10401062|        10358076|        10325452|        10300300|        10283822|        10286263|
|             Uruguay|             Uruguay|        598|        UY|       URY|        858|0000 0001 2238 4648|         3359275|         3368934|         3378974|         3389439|         3400434|         3412009|         3424132|         3436646|         3449299|         3461734|
+--------------------+--------------------+-----------+----------+----------+-----------+-------------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+
only showing top 20 rows

In [ ]:
#Mostrar os países que possuam população maior que 10 milhões de habitantes em 2012
df1.select(F.col("Name"), F.col("Population, 2012")) \
  .filter(F.col("Population, 2012") > 10000000) \
  .show(50)

In [ ]:
#Mostrar todos os dados apenas dos países que comecem com a letra B
df1.filter(F.col("Name").contains("B")).show()

In [ ]:
#Criar um ranking de países por quantidade de habitantes (Do maior para o menor)
(df1.select(F.col("Name").alias("paisesComMaisHabitantes"), F.col("Population, 2019"))
    .orderBy(F.col("Population, 2019")
    .desc())
    .show())

In [ ]:
"""
Criar uma nova coluna com a seguinte informação: 
Caso o país tenha mais que 1 milhão de habitantes, colocar o texto “População com mais de 1 milhão de habitantes”. 
Caso contrário, colocar o texto: “População com menos de 1 milhão de habitantes”
"""
df2 = (df1.withColumn("popMaiorQueUmMilhao", F.when(F.col("Population, 2019") > 1000000, "SIM")
          .otherwise("NAO"))    
      )
df2.select(F.col("Name"), F.col("Population, 2019"), F.col("popMaiorQueUmMilhao")).show(50)

In [ ]:
#Mostre a soma da população no ano de 2017

#Soma da populacao por pais
df1.groupBy(F.col("Name")).agg(F.sum("Population, 2017").alias("somaPopulacaoPais2017")).show()

#Soma da populacao geral
df1.select(F.sum("Population, 2017").alias("somaPopulacaoGeral2017")).show()