In [15]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Paper/pesquisa.csv")
tipos_dados = { #Atribuindo novos tipos de dados para as colunas
    "sexo":"string",
    "raca":"string",
    "origem":"string"
}
df = df.astype(tipos_dados) #Atribuindo as colunas com os novos valores para o dataframe

Deve ser convertido neste dataframe os numeros em strings que façam sentido.

* Ex: sexo , raça . as colunas que não façam sentido podem ser dropadas

In [19]:
df

      id sexo raca origem  prog  leitura  escrita  matematica  ciencia  sociais
0     70    0    4      1     1       57       52          41       47       57
1    121    1    4      2     3       68       59          53       63       61
2     86    0    4      3     1       44       33          54       58       31
3    141    0    4      3     3       63       44          47       53       56
4    172    0    4      2     2       47       52          57       53       61
..   ...  ...  ...    ...   ...      ...      ...         ...      ...      ...
195   31    1    2      2     1       55       59          52       42       56
196  145    1    4      2     3       42       46          38       36       46
197  187    1    4      2     1       57       41          57       55       52
198  118    1    4      2     1       55       62          58       58       61
199  137    1    4      3     2       63       65          65       53       61

[200 rows x 10 columns]

In [ ]:
df.dtypes #Verificando os tipos dos dados

In [9]:
df.id.is_unique #Verificando se os id's são únicos

True

In [ ]:
df.isna().sum() #Verificando se o dataframe possui espaços nulos

In [18]:
df.drop(["tipo"], axis=1, inplace=True) #Dropando colunas sem sentido